body {
  font-family: "Roboto", "sans-serif";
}

.container {
  width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
  height: 1000px;
}

header {
  background-color: #333333;
  height: 100px;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  background-color: #dddddd;
  height: 80px;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footertext {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.footertext span {
  font-weight: bold;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.jobs .container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  margin: 30px auto;
  gap: 30px;
  flex-flow: wrap;
}

.job {
  width: 300px;
  height: 300px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.job h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.job p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.red {
  border: 10px red solid;
}
.green {
  border: 10px #3ea536 solid;
}
.yellow {
  border: 10px #ffee00 solid;
}
.blue {
  border: 10px #039fe3 solid;
}
.ocre {
  border: 10px #f8c5af solid;
}

@media (max-width: 1200px) {
  .container {
    width: 95vw;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .job {
    width: 500px;
  }
}
